@use 'styles/constants/colors';

.heartChart {
  max-width: 400px;
}

.chartTitle {
  width: 90px;
  padding: 3px;
  margin: 30px 0 20px;
  font-weight: bold;
  text-align: center;
  border: 2px solid colors.$NAV_BLACK;
  border-radius: 10px;
}

.chart {
  width: 100%;
  max-height: 400px;
  background-color: colors.$WHITE;
  border-radius: 20px;
}

.chartDetail {
  padding: 15px 10px;
  font-size: 18px;

  :nth-child(1) {
    padding-bottom: 10px;
  }
}

dl {
  div {
    display: flex;
    gap: 10px;
  }
}
