@use 'src/styles/constants/colors';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: colors.$BACKGROUND;

  .title {
    font-size: 2rem;
    color: colors.$NAV_BLACK;
  }

  .userWrap {
    display: flex;
    align-items: center;

    h3 {
      padding-right: 10px;
      // TODO:글자색
    }
  }
}
