@use 'src/styles/constants/colors';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: colors.$BLUE;

  .title {
    font-size: 2rem;
    color: colors.$WHITE;
    font-weight: bold;
  }

  .userWrap {
    display: flex;
    align-items: center;

    h3 {
      padding-right: 10px;
      color: colors.$WHITE;
    }
  }
}
