@use 'styles/constants/colors';

.layout {
  display: flex;
  flex-direction: column;

  .main {
    display: flex;
    width: 100%;
    height: 1000px;
    background-color: colors.$BACKGROUND;
  }
}
