@use 'src/styles/constants/colors';

.navBar {
  width: 200px;
  background-color: colors.$NAV_BLACK;

  ul {
    li {
      padding: 15px;

      a {
        color: colors.$GRAYE;
      }
    }
  }
}

.clicked {
  font-weight: 700;
}
