@use '/src/styles/constants/colors';

<<<<<<< HEAD
.graphWrap {
  width: 100%;
  height: 100%;
=======
.chart {
  width: 100%;
  background-color: darkgray;
>>>>>>> 1e749575745fa1d1972af60e5e3c76c85e572f14
}
