@use '/src/styles/constants/colors';

.detailWrapper {
  width: 100%;
  padding: 40px 20px 20px;

  h1 {
    padding-bottom: 50px;
    font-size: 30px;
    font-weight: bold;
  }
}

.detail {
  display: flex;
  flex-direction: row;
  & > ul {
    display: flex;
  }
  .liStyle {
    display: flex;
    align-items: center;
  }

  .item {
    width: 100px;
    padding: 12px 18px;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    color: colors.$GRAYD;
    text-align: center;
    background-color: colors.$NAV_BLACK;
    border-radius: 50px;
  }

  .data {
    padding: 15px;
    font-size: 15px;
  }
}

.chartWrapper {
  display: flex;
  justify-content: center;

  .chartTitle {
    width: 100px;
    margin: 20px 0 10px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
    border: 2px solid colors.$NAV_BLACK;
  }

  .heartChart {
    max-width: 400px;
    height: 500px;
    margin-right: 50px;
  }

  .stepChart {
    max-width: 400px;
    height: 500px;
  }
  .dataPickerWrap {
    width: 400px;
  }
}
