.userDetailWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;

  .title {
    padding: 0 30px 30px 0;
    font-size: 30px;
    font-weight: bold;
  }

  .chartWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .dataPickerWrap {
    width: 400px;
  }
}
