@use '/src/styles/constants/colors';

.detailWrapper {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid red;
}

.detail {
  margin-bottom: 20%;
  border: 1px solid black;

  .liStyle {
    display: flex;
  }

  .item {
    margin-right: 10px;
    border: 1px solid yellow;
  }

  .data {
    border: 1px solid green;
  }
}

.chartWrapper {
  display: flex;

  .chart {
    width: 400px;
    height: 400px;
    background-color: aqua;
    border: 1px solid black;
  }
}
