@use 'styles/constants/colors';

.searchResult {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  background-color: colors.$WHITE;
  border-radius: 10px;

  > p {
    padding: 10px;

    > mark {
      font-weight: bold;
      color: colors.$RED;
      background-color: transparent;
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    .paginationBtn {
      padding: 5px 10px;
    }
  }
}
