@use 'src/styles/constants/colors';

.searchForm {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: colors.$BACKGROUND;
  width: 1000px;
  padding: 30px;

  .form {
    position: relative;
    height: 150px;
    background-color: colors.$BACKGROUND;

    input {
      margin: 10px;
      border: 1px solid colors.$NAV_BLACK;
    }

    .submitBtn {
      position: absolute;
      width: 80px;
      right: 0;
      bottom: 0;
      padding: 10px 15px;
      border-radius: 10px;
      background-color: colors.$BLUE;
    }
  }

  .datePicker {
    position: absolute;
    top: 50px;
    width: 100%;
  }

  .resetBtn {
    position: absolute;
    right: 70px;
    width: 90px;
    padding: 10px;
    margin-top: -37px;
    background-color: pink;
  }
}
