@use '/src/styles/constants/colors';
.searchResult {
  height: 500px;
  background-color: colors.$WHITE;
  padding: 20px;
  border-radius: 10px;
  > p {
    padding: 10px;

    > mark {
      color: colors.$RED;
      background-color: transparent;
      font-weight: bold;
    }
  }

  .table {
    width: 100%;
    font-size: 14px;
    text-align: center;
    background-color: colors.$BACKGROUND;
    thead {
      border-bottom: 1.5px colors.$HOVER_GRAY solid;
      font-weight: bold;
      font-size: 16px;
    }

    th,
    td {
      padding: 10px;
    }
  }
  .detailBtn {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: colors.$HOVER_GRAY;
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    .paginationBtn {
      padding: 5px 10px;
    }
  }
}
