@use 'src/styles/constants/colors';

.searchForm {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1000px;
  padding: 30px;
  background-color: colors.$BACKGROUND;

  .form {
    position: relative;
    height: 150px;
    background-color: colors.$BACKGROUND;

    input {
      margin: 10px;
      border: 1px solid colors.$NAV_BLACK;
    }

    .submitBtn {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 90px;
      padding: 12px 0;
      color: colors.$GRAYE;
      background-color: colors.$BLUE;
      border-radius: 20px;
    }
  }

  .datePicker {
    position: absolute;
    top: 50px;
    width: 100%;
  }
}
