@use '/src/styles/constants/colors';

.wrap {
  display: flex;
  align-items: center;
  width: 800px;
  .title {
    width: 80px;
    padding: 10px;
    text-align: center;
  }

  .dateInputs {
    display: flex;
    align-items: center;

    .dateInput {
      width: 200px;
      height: 24px;
      font-size: 16px;
      border: 1px solid colors.$NAV_BLACK;
      border-radius: 5px;
      padding-left: 10px;

      &:hover {
        cursor: pointer;
      }
    }

    span {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
