@use 'styles/constants/colors';

.loginWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1496096265110-f83ad7f96608?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}

.popup {
  position: absolute;
  top: 3%;
  right: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 24vw;
  padding: 20px 30px;
  color: colors.$WHITE;
  background-color: colors.$NAV_BLACK;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.2s;

  &::before {
    position: absolute;
    top: 6px;
    left: 7px;
    width: 5px;
    height: 80%;
    content: '';
    background-color: colors.$RED;
    border-radius: 5px;
  }

  &.popupOK {
    opacity: 1;
  }

  & button {
    margin-left: 10px;
    font-size: 16px;
    color: colors.$WHITE;
  }
}

.loginBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  padding: 10vw 24vh;

  & img {
    width: 100%;
    height: 100%;
  }
}

.formWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 56vh;
  background: linear-gradient(0deg, rgba(34, 193, 195, 0%) 0%, rgb(0, 0, 0) 0%, rgba(253, 187, 45, 0%) 100%);
  border-radius: 20px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 50%;

  & img {
    width: 100%;
    margin-bottom: 40px;
  }

  .inputWrap {
    position: relative;

    .invalid {
      position: absolute;
      bottom: 0;
      font-size: 14px;
      font-weight: bold;
      color: colors.$RED;
      opacity: 0;
      transition: all 0.3s;

      &.invalidOK {
        opacity: 1;
      }
    }

    .inputBox {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      border-bottom: 1px solid colors.$GRAYE;

      .idInput,
      .pwInput {
        z-index: 1;
        width: 100%;
        padding: 10px 15px;
        margin-left: 2px;
        font-size: 16px;
        color: colors.$WHITE;

        &::placeholder {
          color: colors.$GRAYE;
        }
      }
    }
  }

  .loginBtn {
    padding: 10px 15px;
    margin-top: 40px;
    font-size: 16px;
    font-weight: bold;
    color: colors.$WHITE;
    background-color: colors.$BLACK;
    border: 1px solid colors.$WHITE;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;

    &:hover {
      color: colors.$WHITE;
      background-color: colors.$BLUE;
      border: 1px solid colors.$BLUE;
    }

    &:disabled:hover {
      color: colors.$WHITE;
      background-color: colors.$BLACK;
      border: 1px solid colors.$WHITE;
    }
  }
}
